body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('fot.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c081ea;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #b97bcb;
    border-radius: 3px;
}

button {
    background-color: #ff00bf;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #b30083;
}
